body {
  background-color: #f1f1f1;
  min-height: 100vh;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.bem-vindo {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  line-height: 24px;

  div {
    width: 50%;

    h1 {
      font-size: 32px;
      margin-bottom: 32px;
      line-height: 40px;
    }
  }
  img {
    width: 50%;
  }

  font-size: 18px;
}

.button-sugest {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;

  a {
    border: 1px solid #7049a6;
    padding: 10px 20px;
    border-radius: 6px;
    white-space: nowrap;
    color: #7049a6;
  }
}

.call-to-action {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  text-align: center;
}
